/* 设置字体 */
.LXGWMode {
    font-family: 'LXGW WenKai Screen', system-ui, 'Helvetica Neue', sans-serif;  // 使用 LXGW WenKai 字体，并指定后备字体
}

/* 设置图标颜色 */
/* 白天模式，默认填充色为黑色 */
.theme-icon {
    fill: black;
}

/* 暗黑模式，填充色为白色 */
@media (prefers-color-scheme: dark) {
    .theme-icon {
        fill: white;
    }
}
